<script type="text/javascript" src="~/js~/js/site.js"></script>
<label for="wikilookupbox">Search wikipedia articles:</label> <br />
<textarea id="wikilookupbox" name="wikilookupbox" rows="1" cols="20">  </textarea> <br />
<input type="submit" onclick="WikiLookupSubmit();" />